.text-field {
    width: 300px;
}

.text-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.text-input .label {
    font-weight: 500;
    width: 100px;
    margin-right: 10px;
}

.text-input input {
    padding: 5px;
}

.text-input-container .error {
    font-size: 12px;
    color: #ff0000;
    margin-left: 120px;
    margin-top: -5px;
}